{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
        {% block header_static %}
        <!-- App CSS -->
        <link href="{% static "config/css/bootstrap-rtl.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "config/css/core.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "config/css/components.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "config/css/icons.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "config/css/pages.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "config/css/menu.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "config/css/responsive.css" %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static "config/js/modernizr.min.js" %}"></script>
{% endblock %}
{% block content %}



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
<h1 class="text-center"> ویرایش آموزش {{ object }}</h1>
                        <div class="row">
                        	<div class="col-sm-12">
                        		<div class="card-box">

                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">متن اول</a></li>
                                            <li><a href="#">متن دوم</a></li>
                                            <li><a href="#">متن سوم</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">متن پاورقی</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30">افزودن آموزش عمومی</h4>

                        			<div class="row">
                        				<div class="col-lg-12">
                        					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                                {{ form.media }}
                                                {% csrf_token %}
	                                            <div class="form-group">
	                                                <label class="col-md-2 control-label" for="example-email">{{ form.title.label }}</label>
	                                                <div class="col-md-10">
	                                                    {% render_field form.title  class="form-control" %}
	                                                </div>
	                                            </div>
	                                            <div class="form-group">
	                                                <label class="col-md-2 control-label">{{ form.image.label }}</label>
	                                                <div class="col-md-10">
	                                                    {% render_field form.image  class="form-control" %}
	                                                </div>
	                                            </div>

	                                            <div class="form-group">
	                                                <label class="col-md-2 control-label">{{ form.description.label }}</label>
	                                                <div class="col-md-10">
	                                                    {% render_field form.description class="form-control" %}
	                                                </div>
	                                            </div>
	                                            <div class="form-group">
	                                                <label class="col-md-2 control-label">{{ form.video.label }}</label>
	                                                <div class="col-md-10">
	                                                    {% render_field form.video classs="form-control" %}
	                                                </div>
	                                            </div>
                                                    <div class="form-group">
	                                                <label class="col-md-2 control-label">{{ form.source.label }}</label>
	                                                <div class="col-md-10">
	                                                    {% render_field form.source classs="form-control" %}
	                                                </div>
	                                            </div>
                                                <input type="submit" value="افزودن آموزش" class="form-control btn-success">
	                                        </form>
                        				</div><!-- end col -->
                        <!-- end row -->
                    </div> <!-- container -->
                </div> <!-- content -->

{% endblock %}



{% block js %}

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{% static "config/js/jquery.min.js" %}"></script>
        <script src="{% static "config/js/bootstrap-rtl.min.js" %}"></script>
        <script src="{% static "config/js/detect.js" %}"></script>
        <script src="{% static "config/js/fastclick.js" %}"></script>
        <script src="{% static "config/js/jquery.slimscroll.js" %}"></script>
        <script src="{% static "config/js/jquery.blockUI.js" %}"></script>
        <script src="{% static "config/js/waves.js" %}"></script>
        <script src="{% static "config/js/jquery.nicescroll.js" %}"></script>
        <script src="{% static "config/js/jquery.scrollTo.min.js" %}"></script>

        <script src="{% static "config/js/jquery.core.js" %}"></script>
        <script src="{% static 'config/js/jquery.app.js' %}"></script>

{% endblock %}