{% extends "base.html" %}
{% load static %}
{% block header_static %}
        <!-- App CSS -->
        <link href="{% static 'config/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'config/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'config/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'config/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'config/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'config/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'config/css/responsive.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'config/js/modernizr.min.js' %}"></script>
{% endblock %}

{% block content %}

            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="bg-picture card-box">
                                    <div class="profile-info-name">
                                        <img src="{{ object.image.url }}"
                                             class="img-thumbnail" alt="profile-image">

                                        <div class="profile-info-detail">
                                            <h3 class="m-t-0 m-b-0">{{ object }}</h3>
                                            <a class="btn btn-danger" href="{% url "partial:prescription_delete" object.pk %}">حذف</a>
                                            <a class="btn btn-warning" href="{% url "partial:prescription_update" object.pk %}">ویرایش</a>
{#                                            <p class="text-muted m-b-20"><i>{{ clinic.address }}</i></p>#}
                                            <p>{{ prescriptions.description }}</p>

                                            <div class="button-list m-t-20">


                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <!--/ meta -->
                            </div>
                </div> <!-- content -->



            </div>
            <!-- End content-page -->
                {% endblock %}

{% block js %}
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{% static 'config/js/jquery.min.js' %}"></script>
        <script src="{% static 'config/js/bootstrap-rtl.min.js' %}"></script>
        <script src="{% static 'config/js/detect.js' %}"></script>
        <script src="{% static 'config/js/fastclick.js' %}"></script>
        <script src="{% static 'config/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'config/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'config/js/waves.js' %}"></script>
        <script src="{% static 'config/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'config/js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'config/js/jquery.core.js' %}"></script>
        <script src="{% static 'config/js/jquery.app.js' %}"></script>
{% endblock %}